<fieldset class="fieldset">
    <legend class="fieldset__legend fieldset__legend--xl">
        <h3 class="fieldset__heading">{{fieldsets.title}}</h3>
    </legend>
    {% for field in fieldsets.fields %}
        {% if field._type == 'input' %}
            {% include "./input.njk" %}
        {% endif %}
        {% if field._type == 'textarea' %}
            {% include "./textarea.njk" %}
        {% endif %}
        {% if field._type == 'selection' %}
            {% include "./selection.njk" %}
        {% endif %}
        {% if field._type == 'inputDate' %}
            {% include "./date.njk" %}
        {% endif %}
        {% if field._type == 'action' %}
            {% include "./actions.njk" %}
        {% endif %}
    {% endfor %}
</fieldset>