{% extends "../componentContainer.njk" %}
{% block componentContent %}
    {% if component.title %}
        <h2>{{component.title}}</h2>
    {% endif %}
    {% if component.introductoryText %}
        {{ component.introductoryText | markdownify | safe }}
    {% endif %}
    <form action="{{component.action}}"{% if component.autocomplete == true %} autocomplete="on"{% endif %}>
        {% for fieldsets in component.fields %}
            {% include './fieldset.njk' %}
        {% endfor %}
    </form>
{% endblock %}