{% extends "../componentContainer.njk" %}
{% block componentContent %}
    <form action="{{component.action}}">
        {% for fieldsets in component.fields %}
            {# {{fieldsets|dump(2)}} #}
            {% include './fieldset.njk' %}
        {% endfor %}
    </form>
{% endblock %}