<div class="form-group">
    <label class="label" for="{{ field.label | slug }}">{{field.label}}</label>
    <input class="input input-text" name="{{field.label | slug }}"{% if field.value %} value="{{field.value}}"{% endif %}{% if field.placeholder %} value="{{field.placeholder}}"{% endif %}/>
</div>