{% extends "./formGroup.njk" %}
{% block formGroup %}
    <label class="input-switch-label" for="yesno">
        <input class="input-switch" type="checkbox" id="yesno" name="yesno">
        <span class="input-switch--slider"></span>
    </label>
{% endblock %}