{% extends "./formGroup.njk" %}
{% block formGroup %}
    <label class="label" for="">{{field.label}}</label>
    {% if field.hint -%}
        <span id="{{field.label | slug }}-hint" class="hint">{{field.hint}}</span>
    {%- endif %}

    <textarea class="textarea {{ field.width.value }}" name="" id="" cols="30" rows="10"></textarea>
{% endblock %}