{% extends "./componentContainer.njk" %}

{% block componentContent %}
    {% if component.title %}
        {% if component.title.accronym %}
            <h2>
                <abbr title="{{component.title.accronym}}">{{component.title.text}}</abbr>
            </h2>
        {% else %}
            <h2>{{component.title.text}}</h2>
        {% endif %}
    {% endif %}
    {{ component.editorInterface | markdownify | safe }}

    {% if component.moreInfo %}
        <p class="more">
            {{ linkMacro.link(component.moreInfo) }}
        </p>
    {% endif %}
{% endblock %}