{% if pages._type === 'page' %}
    {% set breadcrumbSource = pages %}
{% endif %}
{% if homepages._type === 'homepage' %}
    {% set breadcrumbSource = homepages %}
{% endif %}
{% if sections._type === 'section' %}
    {% set breadcrumbSource = sections %}
{% endif %}
{% if breadcrumbSource.breadcrumb %}
    <div id="breadCrumb" aria-label="Previous pages:">
        <div class="breadCrumbContainer">
            <ol>
                <li class="home">
                    <a href="/">HSE</a>
                </li>
                {% for item in breadcrumbSource.breadcrumb %}
                    {% if breadcrumbSource.title !== item.title %}
                        <li>
                            <a href="/{{item.slug.current}}">
                                {{ item.shortTitle if item.shortTitle else item.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>{{ breadcrumbSource.shortTitle if breadcrumbSource.shortTitle else breadcrumbSource.title }}</li>
            </ol>
        </div>

        <div id="backTo">
            <p class="backto">
                <a id="backnav" href="../index.htm">HSE</a>
            </p>
        </div>
    </div>
{% endif %}