{% extends "./componentContainer.njk" %}

{% block componentContent %}
    <section class="cards__container">
        <header class="cards__header {{ 'hidden' if component.titleHidden}}">
            <h2>{{component.title}}</h2>
        </header>
        <div class="cards__inner">
            {% for item in component.cardItems -%}
                {% if loop.first %}
                    <div class="row">
                    {% endif %}
                    {% set break = 12 / component.cardGrid.columns %}
                    {% set lastCol = loop.index % break %}
                    <div class="card component {{component.backgroundColour.value}}" data-grid="{{ component.cardGrid.columns }}{{' last' if lastCol === 0}}">
                        <h3>
                            {% if component.linkFooter == true or item.moreInfo.internalLink == null %}
                                {{item.heading}}
                            {% else %}
                                {{ link.link(item.moreInfo) }}
                            {% endif %}
                        </h3>
                        {% if item.copy %}
                            <p>{{item.copy}}</p>
                        {% endif %}

                        {% if component.linkFooter == true %}
                            <p class="more">
                                {{ link.link(item.moreInfo, moreInfoTitle) }}
                            </p>
                        {% endif %}
                    </div>
                    {% if lastCol === 0 and not loop.last %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% if loop.last %}
                    </div>
                {% endif %}
            {%- endfor %}

            {% if component.furtherInfo %}
                <p class="moreLink">
                    {{ link.link(component.furtherInfo) }}

                    {# <a href="/{{component.furtherInfo.slug.current}}{% if component.furtherInfo.tracking %}{{ component.furtherInfo.tracking }}{% endif %}">{{component.furtherInfo.title}}</a> #}
                </p>
            {% endif %}
        </div>
    </section>
{% endblock %}