<nav id="footer-nav" aria-label="Footer menu">
    <footer id="footerContainer">
        <div id="footer">
            <h2 class="visually-hidden">Footer links</h2>
            <div class="footer-links-container">
                <ul>
                    <li class="first">
                        <a href="/search">Search</a>
                    </li>
                    <li class="first">
                        <a href="/sitemap">Sitemap</a>
                    </li>

                    {% for item in settingsNavigation[0].footerMenu.sections -%}
                        {% if item.externalLink %}
                            {% set link = item.externalLink %}
                        {% elif item.slug.current %}
                            {% set link = '/' + item.slug.current %}
                        {% endif %}
                        <li>
                            <a class="{{ 'active' if pages.slug.current === item.slug.current }}" href="{{link}}">{{item.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="baseStrip">
            <div id="baseStripInner">
                <p>HSE aims to reduce work-related death, injury and ill
                    health.</p>
                <div class="guidance-languages">
                    <p>
                        <a href="languages/index.htm">Information in other
                        languages</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</nav>