<header id="headerContainer">
    <div id="header">
        <div class="headerTop header js-header">

            <h1 id="headerLogo" class="headerLogo">
                <a href="{{ '/' | url }}">Health
              and Safety<br>
              Executive</a>
            </h1>

            <div id="globalSearch" class="desktop-gcs-search"></div>

            <!-- JS Main Navigation -->

            <div class="menuContainer">

                <nav id="main-menu" class="menu js-menu" aria-hidden="false" aria-labelledby="main-menu">
                    <ul>
                        <li class="home">
                            <a href="/">Home</a>
                        </li>
                        {# {{ set parent = pages.parentHomepage.current }} #}
                        {# {{ set parent = pages.parentHomepage.current}} #}
                        {% for item in settingsNavigation[0].headerMenu.sections -%}
                            <li>
                                <a class="{{ 'active-page' if sections.slug.current === item.slug.current }}" href="/{{item.slug.current}}">{{item.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>