{% extends "./componentContainer.njk" %}
{% block componentContent %}
    <div class="box backgroundRed">
        <h2>Coronavirus (COVID-19): update</h2>
        <p>For the most up-to-date news and guidance, go to our pages on <a href="../coronavirus/index.htm">coronavirus</a>
        </p>
    </div>
{% endblock %}