{% for components in pages.pageBuilder %}

    {% if components._type === 'hero' %}
        {% include "./hero.njk" %}
    {% endif %}

    {% if components._type === 'cards' %}
        {% include "./cards.njk" %}
    {% endif %}

    {% if components._type === 'bodyCopy' %}
        {% include "./bodyCopy.njk" %}
    {% endif %}

{% endfor %}