{% for components in pages.pageBuilder %}

    <pre>{{ components | dump(2)}}</pre>

    {% if components._type === 'accordion' %}
        {% include "./accordion.njk" %}
    {% endif %}

    {% if components._type === 'bodyCopy' %}
        {% include "./bodyCopy.njk" %}
    {% endif %}

{% endfor %}