{% extends "./componentContainer.njk" %}
{% block componentContent %}
    {% if component.pageIdentifier._ref !== null %}
    <div class="box" id="printActions" data-identifier="{{component.pageIdentifier._ref}}" data-print-guide="print-guides.json">
        <h2 class="heading-m">Print entire guide</h2>
        <p>You can download the entire guide as PDF or print out.</p>
        <button class="btn btn-print btn-primary print-guide">Print entire guide</button>
        <button class="btn btn-download btn-primary download-guide">Download entire guide</button>
    </div>
    {% endif %}
{% endblock %}