<link rel="stylesheet" href="https://www.hse.gov.uk/assets/v5-css/v5.min.css" type="text/css" media="screen,print">
<style>
    [data-grid] {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.85714%;
    }

    div:last-child(not:first-child),
    input.btn:last-child(not:first-child),
    p:last-child(not:first-child),
    span:last-child(not:first-child) {
        margin-top: auto;
        margin-bottom: 0;
    }

    [data-grid]:not([data-grid*='last']) {
        margin-right: 2.85714%;
    }
    [data-grid*='1'] {
        width: 5.71429%;
    }
    @media (max-width: 800px) {
        [data-grid*='1'] {
            width: 100%;
        }
    }
    [data-grid*='2'] {
        width: 14.28571%;
    }
    @media (max-width: 800px) {
        [data-grid*='2'] {
            width: 100%;
        }
    }
    [data-grid*='3'] {
        width: 22.85714%;
    }
    @media (max-width: 800px) {
        [data-grid*='3'] {
            width: 100%;
        }
    }
    [data-grid*='4'] {
        width: 31.42857%;
    }
    @media (max-width: 800px) {
        [data-grid*='4'] {
            width: 100%;
        }
    }
    [data-grid*='5'] {
        width: 40%;
    }
    @media (max-width: 800px) {
        [data-grid*='5'] {
            width: 100%;
        }
    }
    [data-grid*='6'] {
        width: 48.57143%;
    }
    @media (max-width: 800px) {
        [data-grid*='6'] {
            width: 100%;
        }
    }
    [data-grid*='7'] {
        width: 57.14286%;
    }
    @media (max-width: 800px) {
        [data-grid*='7'] {
            width: 100%;
        }
    }
    [data-grid*='8'] {
        width: 65.71429%;
    }
    @media (max-width: 800px) {
        [data-grid*='8'] {
            width: 100%;
        }
    }
    [data-grid*='9'] {
        width: 74.28571%;
    }
    @media (max-width: 800px) {
        [data-grid*='9'] {
            width: 100%;
        }
    }
    [data-grid*='10'] {
        width: 82.85714%;
    }
    @media (max-width: 800px) {
        [data-grid*='10'] {
            width: 100%;
        }
    }
    [data-grid*='11'] {
        width: 91.42857%;
    }
    @media (max-width: 800px) {
        [data-grid*='11'] {
            width: 100%;
        }
    }
    [data-grid*='12'] {
        width: 100%;
    }
    @media (max-width: 800px) {
        [data-grid*='12'] {
            width: 100%;
        }
    }

    .content-container {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    [data-column*='one-third'] {
        width: 33.3333%;
    }
    [data-column*='two-thirds'] {
        width: 66.6666%;
    }
    [data-column*='one-quarter'] {
        width: 25%;
    }
    [data-column*='two-quarters'] {
        width: 50%;
    }
    [data-column*='three-quarters'] {
        width: 75%;
    }
    [data-column*='full'] {
        width: 100%;
    }

    /* fixes */
    .slinky-menu li,
    .slinky-menu ul {
        margin: 0 !important;
    }

    #main-menu .active-page {}

    .bg-blue {
        background-color: #2846A5;
        color: #FFFFFF;
    }
    .bg-purple {
        background-color: #4F2170;
        color: #FFFFFF;
    }
    .bg-orange {
        background-color: #CE421B;
        color: #FFFFFF;
    }
    .bg-green {
        background-color: #287826;
        color: #FFFFFF;
    }

    .bg-white {
        background-color: #FFFFFF;
    }
    .bg-gray {
        background-color: #f3f3f3;
        padding: 10px 10px 0;
    }
    .bg-red {
        background-color: #981e32;
        padding: 10px 10px 0;
    }

    .bg-red *,
    .bg-red *:active,
    .bg-red *:hover,
    .bg-red *:link,
    .bg-red *:visited {
        color: #ffffff;
    }
    .bg-red ul.linkList li {
        background-image: url("http://www.hse.gov.uk/assets/v5-images/icons/svg/solid/caret-right-white.svg") !important;
    }

    .component .more {
        position: relative;
        width: 100%;
    }

    .component .form-group:last-of-type,
    .component input.btn {
        margin-bottom: 6px !important;
    }

    .block {
        padding: 10px 10px 0;
    }

    .block .more {
        position: relative;
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    #breadCrumb {
        margin-bottom: 0 !important;
    }
    #breadCrumb ol li {
        font-size: 1rem;
    }
    #pageContainer {
        padding-top: 20px;
    }

    .menu li.active {
        background-color: #333;
    }
    .divider {
        border-bottom: 2px solid #981e32;
        margin-bottom 20px;
    }

    p.moreLink {
        font-weight: 700;
        margin: auto 0 !important;
    }
    .bg-white p.moreLink a::before {
        content: " ";
        position: relative;
        top: 2px;
        background-image: url("http://www.hse.gov.uk/assets/v5-images/icons/svg/solid/arrow-right-red.svg");
        background-repeat: no-repeat;
        display: inline-block;
        padding-right: 5px;
        width: 16px;
        height: 16px;
        margin: 0;
    }
    .bg-gray p.moreLink a:hover::before,
    p.moreLink a:hover::before {
        content: " ";
        background-image: url("http://www.hse.gov.uk/assets/v5-images/icons/svg/solid/arrow-right-black.svg");
        background-repeat: no-repeat;
        display: inline-block;
        padding-right: 5px;
        width: 16px;
        height: 16px;
        margin: 0;
    }

    .bg-red p.moreLink a::before {
        content: " ";
        background-image: url("http://www.hse.gov.uk/assets/v5-images/icons/svg/solid/arrow-right-white.svg");
        background-repeat: no-repeat;
        display: inline-block;
        padding-right: 5px;
        width: 16px;
        height: 16px;
        margin: 0;
    }

    #globalSearch input {
        min-width: 250px;
    }
    .site-search-label {
        display: none;
    }
    .site-search-input {
        box-sizing: border-box;
        appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        border: 0;
        outline: 0;
        height: 38px;
        margin: 0;
        padding: 6px 10px;
        font-size: 16px;
        overflow: visible;
        width: 100%;
    }
    .site-search button {
        appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        border: 0;
        outline: 0;
        font-size: 0.9rem;
        padding: 0;
        width: auto;
        background: #333;
        color: #fff;
        min-width: 38px !important;
        max-width: 38px !important;
        min-height: 38px !important;
        max-height: 38px !important;
    }
    .site-search button svg {
        fill: #fff;
    }

    .hsl-links li {
        margin-right: 0.3% !important;
    }
</style>