<nav id="" aria-label="Secondary">
  <div id="menu" class="slinky-menu slinky-theme-default">
    {% for menu in getNavigationTree %}
      {% for subMenus in menu.subMenu %}
        <ul>
          <li class="first header">
            <a href="/{{pages.parentSlug.current}}">{{menu.title}}</a>
          </li>
          {% for item in subMenus.sections %}
            <li>
              <a class="{{ 'active-page' if pages.slug.current === item.target.slug.current }}" {% if pages.slug.current === item.target.slug.current%} aria-current="page"{% endif %} href="/{{item.target.slug.current}}">{{item.target.title}}</a>
              {% if item.linksage %}
                <ul>
                  {% for child in item.links %}
                    <li>
                      <a class="{{ 'active-page' if pages.slug.current === child.target.slug.current }}" {% if pages.slug.current === item.target.slug.current%} aria-current="page"{% endif %} href="/{{child.target.slug.current}}">{{child.title}}</a>
                    </li>
                  {%- endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endfor %}
  </div>
</nav>