{% if getNavigationTree.subMenu | length != 0 %}
    {% set currentPageUrl = pages.slug.current if pages.slug.current else 
        pages.belongsTo.slug.current %}
    <nav id="navSecondary" aria-label="Secondary">
        <div id="menu" class="slinky-menu slinky-theme-default">
            <menu>
                <nav>
                    {% for menu in getNavigationTree -%}
                        {% set pageIdentifier = menu.slug.current %}
                        {% if pageIdentifier == currentPageUrl %}
                            {% for subMenus in menu.subMenu -%}
                                <ul>
                                    <li class="header">
                                        <a href="/{{pageIdentifier}}">{{menu.title}}</a>
                                    </li>
                                    {# {% for item in subMenus.sections -%}
                    <li>
                      <a class="{{ 'active' if pages.slug.current === item.target.slug.current }}" href="/{{item.target.slug.current}}">{{item.target.title}}</a>
                      {% if item.links %}
                        <ul>
                          {% for child in item.links -%}
                            <li>
                              <a class="{{ 'active' if pages.slug.current === child.target.slug.current }}" href="/{{child.target.slug.current}}">{{child.title}}</a>
                            </li>
                          {%- endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {%- endfor %} #}
                                </ul>
                            {%- endfor %}
                        {% endif %}
                    {%- endfor %}
                </nav>
            </menu>
        </div>
    </nav>
{% endif %}