{# <p>Page list</p>
<ol reversed class="pagelist" style="counter-reset: start-from {{ pageslist.length + 1 }}">
  {% for page in pageslist | reverse %}
    {% set currentpage = page.data.page %}
    <li class="pagelist-item{% if page.url == url %} pagelist-item-active{% endif %}">
      <a href="{{ page.url | url }}" class="pagelist-link">
        {% if currentpage.title %}{{ currentpage.title }}
        {% else %}
          <code>{{ page.url }}</code>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ol> #}