---
layout: layouts/base.njk
templateClass: tmpl-home
---
{% import "../macros/picture.njk" as picture %}
{% set components = home[0].pageBuilder %}
<div class="content-container">
    <div data-column="full">
        <div class="row">
            <nav class="bg-red mostPopular" aria-label="Popular" data-grid="4">
                <h2>Popular</h2>
                <ul class="linkList">
                    {% for item in home[0].popular %}
                        <li>
                            <a href="./{{item.slug.current}}">{{item.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            {% set src = home[0].hero.heroImage.secure_url %}
            {% set imageWidth = src.width %}
            {% set imageHeight = src.height %}
            {% set imageDesktop2x = src | cloudinaryImage(src, responsiveImageDimensions.desktop.width) | safe %}
            {% set imageDesktop = src | cloudinaryImage(src, responsiveImageDimensions.desktop.width) | safe %}
            {% set imageTablet2x = src | cloudinaryImage(src, responsiveImageDimensions.tablet.width) | safe %}
            {% set imageTablet = src | cloudinaryImage(src, responsiveImageDimensions.tablet.width) | safe %}
            {% set imageMobile2x = src | cloudinaryImage(src, responsiveImageDimensions.mobile.width) | safe %}
            {% set imageMobile = src | cloudinaryImage(src, responsiveImageDimensions.mobile.width) | safe %}
            <div class="homepageBanner noBoxPadding last{% if home[0].hero.heroClass %} {{home[0].hero.heroClass}}{% endif %}" data-grid="8 last">
                <a href="{{home[0].hero.heroLink.target}}" class="noIcon">
                    <div class="homepageBannerImage">
                        {{ picture.picture(imageMobile, imageTablet, imageDesktop, imageWidth, imageHeight) }}
                    </div>
                    <div class="homepageBannerInner">
                        <h2>{{home[0].hero.title.text}}</h2>
                        <p>
                            {{home[0].hero.editorInterface}}
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="component" data-grid="12 last">
                <div class="divider"></div>
            </div>
        </div>

        {% include "../components/pageBuilder.njk" %}

        <div class="row">
            <div class="component" data-grid="12 last">
                <nav aria-label="Solutions from HSE">
                    <h2>{{home[0].solutions.title}}</h2>
                    {# <pre>{{home[0].solutions|dump(2)}}</pre> #}
                    <ul class="hsl-links row">
                        {% for items in home[0].solutions.solutionItems %}
                            {% set break = 12 / home[0].solutions.grid.columns %}
                            {% set lastCol = loop.index % break %}
                            <li data-grid="{{home[0].solutions.grid.columns}}{{' last' if lastCol === 0}}">
                                <a class="bg-{{items.backgroundColour.value}}" href="{{items.link}}">{{items.title}}
                                    {% if items.hiddenTitlePart %}
                                        <span class="visually-hidden">{{items.hiddenTitlePart}}</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>