---
layout: layouts/base.njk
templateClass: tmpl-page
---
{% set sourceData = homepages %}

{% set components = homepages.pageBuilder %}

{% set column = 'columnFull' %}

{% set pageTitle = homepages.title %}

<div class="{{column}}">
  <h1>{{ pageTitle }}</h1>
  {% include "../components/pageBuilder.njk" %}
</div>