---
layout: layouts/base.njk
templateClass: tmpl-page
---
{% set components = pages.pageBuilder %}

<div class="content-container">
  {% if pages.subMenu !== null or pages.subMenuInherit === true %}
    <div data-column="one-quarter">
      {% include '../components/subnavPage.njk' %}
    </div>
  {% endif %}

  <div data-column="{% if pages.subMenu !== null %}three-quarters{% else %}full{% endif %}">
    <h1>
      {% if pages.pageTitleAccronym == true %}
        {{ pages.title | abbr(pages.accronymFind, pages.accronymReplace ) | safe }}
      {% else %}
        {{ pages.title }}
      {% endif %}
    </h1>
    {% include "../components/pageBuilder.njk" %}
  </div>
</div>