---
layout: layouts/base.njk
templateClass: tmpl-page
---
{% set components = pages.pageBuilder %}

<div class="content-container">
  <div data-column="one-quarter">
    {% include '../components/subnavPage.njk' %}
  </div>
  <div data-column="three-quarters">
    <h1>
      {% if pages.pageTitleAccronym == true %}
        {{ pages.title |abbr(pages.accronymFind, pages.accronymReplace ) | safe }}
      {% else %}
        {{ pages.title }}
      {% endif %}
    </h1>
    {% include "../components/pageBuilder.njk" %}
  </div>
</div>