---
layout: layouts/base.njk
templateClass: tmpl-page
---
{% set pageTitle = sections.title
if
sections.title
else 
  pages.title %}

<h1>{{ pageTitle }}</h1>
<pre>{{pages._id}}</pre>

{% include "../components/pageBuilder.njk" %}