---
layout: layouts/base.njk
templateClass: tmpl-search
---
<style>
  .search-result-count {
    font-weight: normal;
    font-size: 16px;
  }
  .search-result-heading {
    margin-bottom: 2px;
  }
  .search-result-path {
    margin-bottom: 6px;
    color: #333;
  }
  ol.search-results__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.search-results__item {
    margin: 0 0 10px;
    padding: 0;

    border-style: solid;
    border-color: #fefefe;
    border-bottom-width: 1px;
  }
</style>
<h1>Search HSE website</h1>
<div class="field">
  <label for="searchField">Search</label>
  <input class="input input-text input-width-full search-input search-page-input" type="search" placeholder="Search..." id="searchField"/>
</div>
<ol id="searchResults" class="search-results__list"></ol>
<div id="noResultsFound" style="display: none">
  <p>No results found.</p>
</div>
<!--Only 5.7kb GZipped. You may want to bundle this with your application code. -->
{% include '../components/search-script.njk' %}

</div>