---
layout: layouts/base.njk
templateClass: tmpl-section
---
{% set components = sections.pageBuilder %}
{% set sourceData = sections %}

{% set column = 'columnFull' %}

{% set pageTitle = sections.title %}

{% include '../components/subNav.njk' %}

<h1>{{ pageTitle }}</h1>

<div class="{{column}}">
  {% include "../components/pageBuilder.njk" %}
</div>